/* Arquivos de Fontes - Instalação */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('font/montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('font/montserrat/Montserrat-ExtraBold.ttf');
}

/* @font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Regular.eot');
    src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Regular.eot');
    src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */